.node {
	cursor: pointer;
}

.nodetext {
  font: 10pt sans-serif;
}

.link {
	fill: none;
	stroke: #e1eff6;
}

.axis {
    fill: none;
    stroke: #9ecae1;
}

text {
  
  font: 10pt sans-serif;
  pointer-events: none;
}